.gris_codo {
    background-color: #353a40;
}

.gris_letras {
    background-color: #8C94A1;
}

.color_react {
    background-color: #19A2BA;
}

.footer {
    background-color: #1D4E6C
}

.color_boton {
    background-color: #96c93e
}